In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('PROGRAMAS_DE_EDUCACI_N_SUPERIOR.csv')

/srv/conda/envs/notebook/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
df.head(5)

,codigoinstitucion,nombreinstitucion,codigodepartinstitucion,nombredepartinstitucion,codigomunicipioinstitucion,nombremunicipioinstitucion,codigoorigeninstitucional,nombreorigeninstitucional,codigocaracteracademico,nombrecaracteracademico,...,nombreperiodicidad,cantidadperiodos,numeroresolucionacreditacion,codigotipoacreditacion,nombretipoacreditacion,aniosacreditados,nombretituloobtenido,fechacreacion,VALOR_MATRICULA_2018,VALOR_MATRICULA_2019
0,2747,FUNDACION UNIVERSITARIA AUTONOMA DE LAS AMERICAS,5,ANTIOQUIA,5001,MEDELLIN,2,PRIVADA,3,INSTITUCION UNIVERSITARIA/ESCUELA TECNOLOGICA,...,SEMESTRAL,7,NaN,4,NaN,NaN,TECNOLOGO EN HOTELERIA TURISMO Y RELACIONES PU...,02/11/2001,NaN,NaN
1,1101,UNIVERSIDAD NACIONAL DE COLOMBIA,11,BOGOTA D.C,11001,BOGOTA D.C.,1,Publica,4,Universidad,...,ANUAL,2,NaN,4,NaN,NaN,ESPECIALISTA EN ENDODONCIA,NaN,NaN,NaN
2,1101,UNIVERSIDAD NACIONAL DE COLOMBIA,11,BOGOTA D.C,11001,BOGOTA D.C.,1,Publica,4,Universidad,...,SEMESTRAL,4,NaN,4,NaN,NaN,MAGISTER EN CIENCIA Y TECNOLOGIA DE ALIMENTOS,NaN,NaN,NaN
3,1101,UNIVERSIDAD NACIONAL DE COLOMBIA,11,BOGOTA D.C,11001,BOGOTA D.C.,1,Publica,4,Universidad,...,SEMESTRAL,2,NaN,4,NaN,NaN,ESPECIALISTA EN MERCADOS Y POLITICAS DE SUELO ...,NaN,NaN,NaN
4,1101,UNIVERSIDAD NACIONAL DE COLOMBIA,11,BOGOTA D.C,11001,BOGOTA D.C.,1,Publica,4,Universidad,...,SEMESTRAL,4,NaN,4,NaN,NaN,MAGISTER EN TRABAJO SOCIAL,NaN,NaN,NaN

In [3]:
df.replace(np.nan, '', regex=True)
df = df.fillna('').apply(lambda x: x.astype(str).str.upper())
df['nombreprograma'] = df['nombreprograma'].str.replace(u'¿C', 'EC')
df['nombreprograma'] = df['nombreprograma'].str.replace(u'¿N', 'ON')
df['nombreprograma'] = df['nombreprograma'].str.replace(u'R¿S', 'RIS')
df['nombreprograma'] = df['nombreprograma'].str.replace(u'R¿C', 'RIC')
df['nombreprograma'] = df['nombreprograma'].str.replace(u'R¿F', 'RAF')
df['nombreprograma'] = df['nombreprograma'].str.replace(u'¿O', 'ÑO')
df['nombreprograma'] = df['nombreprograma'].str.replace(u'F¿', 'FE')
df['nombreprograma'] = df['nombreprograma'].str.replace(u'M¿T', 'MAT')
df['nombreprograma'] = df['nombreprograma'].str.replace(u'G¿A', 'GIA')
df['nombreprograma'] = df['nombreprograma'].str.replace(u'C¿N', 'CAN')
df['nombreprograma'] = df['nombreprograma'].str.replace(u'R¿L', 'ROL')
df['nombreprograma'] = df['nombreprograma'].str.replace(u'P¿B', 'PUB')
df['nombreprograma'] = df['nombreprograma'].str.replace(u'N¿L', 'NOL')
df['nombreprograma'] = df['nombreprograma'].str.replace(u'G¿S', 'GIS')
df['nombreprograma'] = df['nombreprograma'].str.replace(u'L¿S', 'LIS')
df['nombreprograma'] = df['nombreprograma'].str.replace(u'R¿A', 'RIA')
df['nombreprograma'] = df['nombreprograma'].str.replace(u'DIN¿M', 'DINAM')
df['nombreprograma'] = df['nombreprograma'].str.replace(u'U¿M', 'UIM')
df['nombreprograma'] = df['nombreprograma'].str.replace(u'I¿E', 'IÑE')
df['nombreprograma'] = df['nombreprograma'].str.replace(u'E¿A', 'EÑA')
df['nombreprograma'] = df['nombreprograma'].str.replace(u'ON¿M', 'ONOM')
df['nombreprograma'] = df['nombreprograma'].str.replace(u'N¿M', 'NIM')
df['nombreprograma'] = df['nombreprograma'].str.replace(u'N¿U', 'NEU')
df['nombreprograma'] = df['nombreprograma'].str.replace(u'T¿G', 'TEG')
df['nombreprograma'] = df['nombreprograma'].str.replace(u'T¿T', 'TET')
df['nombreprograma'] = df['nombreprograma'].str.replace(u'L¿T', 'LIT')
df['nombreprograma'] = df['nombreprograma'].str.replace(u'L¿G', 'LOG')
df['nombreprograma'] = df['nombreprograma'].str.replace(u'Á', 'A')
df['nombreprograma'] = df['nombreprograma'].str.replace(u'É', 'E')
df['nombreprograma'] = df['nombreprograma'].str.replace(u'Í', 'I')
df['nombreprograma'] = df['nombreprograma'].str.replace(u'Ó', 'O')
df['nombreprograma'] = df['nombreprograma'].str.replace(u'Ú', 'U')
df['nombreprograma']

0        TECNOLOGIA EN HOTELERIA TURISMO Y RELACIONES P...
1                               ESPECIALIDAD EN ENDODONCIA
2            MAESTRIA EN CIENCIA Y TECNOLOGIA DE ALIMENTOS
3        ESPECIALIZACION EN MERCADOS Y POLITICAS DE SUE...
4                               MAESTRIA EN TRABAJO SOCIAL
5               ESPECIALIZACION EN SISTEMAS DE INFORMACION
6         ESPECIALIZACION EN ENFERMERIA CARDIORESPIRATORIA
7        ESPECIALIZACION EN AUTOMATIZACION DE EQUIPOS Y...
8                                   MAESTRIA EN INGENIERIA
9                                   INGENIERIA EN MERCADEO
10                                       INGENIERIA FISICA
11                                         ARTES PLASTICAS
12                               INGENIERIA ADMINISTRATIVA
13                                            ARQUITECTURA
14                      MAESTRIA EN CIENCIAS - ENTOMOLOGIA
15                              LICENCIATURA EN LITERATURA
16                                 TECNOLOGIA AGROPECUARIA
17           TECNICA PROFESIONAL EN SECRETARIADO EJECUTIVO
18       MAESTRIA EN SISTEMAS DE GENERACION DE ENERGIA ...
19             MAESTRIA EN INGENIERIA - INGENIERIA QUIMICA
20       ESPECIALIZACION EN ADMINISTRACION DE INSTITUCI...
21                           ESPECIALIZACION EN ENDODONCIA
22                               MAESTRIA EN  ARQUITECTURA
23                                            BELLAS ARTES
24                      LICENCIATURA EN PEDAGOGIA INFANTIL
25         ESPECIALIZACION EN GESTION Y CONTROL TRIBUTARIO
26                                   TECNOLOGIA EN CALIDAD
27                                  INGENIERIA INFORMATICA
28                                             ODONTOLOGIA
29       LICENCIATURA EN LENGUAS EXTRANJERAS INGLES-FRA...
                               ...
86692    ESPECIALIZACION EN SEGURIDAD DE REDES TELEMATICAS
86693    TECNOLOGIA EN GESTION DE LA SEGURIDAD Y SALUD ...
86694                                  CONTADURIA  PUBLICA
86695    MAESTRIA EN GERENCIA ESTRATEGICA DEL TALENTO H...
86696                     COMUNICACION SOCIAL Y PERIODISMO
86697                                     MERCADEO DIGITAL
86698    TECNOLOGIA EN DISEÑO Y PROGRAMACION DE SOLUCIO...
86699                                 MAESTRIA EN FINANZAS
86700    TECNOLOGIA EN SUPERVISION DE LA FABRICACION DE...
86701                                     CIENCIA POLITICA
86702    TECNOLOGIA EN GESTION DE LA PRODUCCION INDUSTRIAL
86703                    MAESTRIA EN COMUNICACION CREATIVA
86704    TECNICA PROFESIONAL EN PROCESOS DE PRODUCCION ...
86705                               MAESTRIA EN SOCIOLOGIA
86706                         MAESTRIA EN EDUCACION MEDICA
86707                   TECNOLOGIA EN PRODUCCION HORTICOLA
86708    LICENCIATURA EN EDUCACION FISICA, RECREACION Y...
86709       LICENCIATURA EN LITERATURA Y LENGUA CASTELLANA
86710      TECNOLOGIA EN GESTION GASTRONOMICA Y DE BEBIDAS
86711               ESPECIALIZACION EN EDUCACION INCLUSIVA
86712    TECNICA PROFESIONAL EN PROCESOS GASTRONOMICOS ...
86713                                       ARTE DRAMATICO
86714                     COMUNICACION SOCIAL Y PERIODISMO
86715               MAESTRIA EN GESTION PUBLICA Y GOBIERNO
86716                     MAESTRIA EN RECURSOS ENERGETICOS
86717    LICENCIATURA EN LENGUAS MODERNAS CON ENFASIS E...
86718                   MAESTRIA EN PRODUCCION DE FRUTALES
86719                                MAESTRIA EN EDUCACION
86720               MAESTRIA EN ADMINISTRACION DE NEGOCIOS
86721        TECNOLOGIA EN CONTROL DE CALIDAD DE ALIMENTOS
Name: nombreprograma, Length: 86722, dtype: object

In [4]:
df.to_csv('PROGRAMAS_EDUCACION_UPPERCASE.csv', sep=',', index=False)